/* Loading fonts */
@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers/Bangers-Regular.ttf') /*format(woff)*/;     
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Regular.ttf') /*format(woff)*/;     
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /* Main theme colors */
    --main_light: #D0DD6B;
    --main_dark: #232323;
    /* Team Colors for each player */
    --BOS_green: #007A33;
    --BOS_gold: #BA9653;
    --CHIHOUTOR_red: #CE1141;
    --GSW_blue: #006BB6;
    --GSW_slate: #26282A;
    --GSWLAL_gold: #FDB927;
    --LAL_purple: #552583;
    --OKC_darkblue: #002D62;
    --OKC_lightblue: #007AC1;
    --OKC_orange: #EF3B24;
    --PHI_blue: #002F6C;
    --PHI_gold: #BB9754;
    --PHI_red: #D50032;
    --SAS_silver: #C4CED4;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--main_dark);
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 3px;
}

header {
    background-color: #333533;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainContainers {
    padding: 1rem;
}

#pageTitle {
    padding-left: 1rem;
    color: #D0DD6B;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

#zodiacInfo {
    text-align: left;
    background-color: #333533;
}

#infoBox {
    width: 18.75rem;
    height: 18.75rem;
    background-color: #177e89;
    text-align: left;
}

#zodiacInfo p {
    padding: 0 3rem;
}

p, form {
    line-height: 2rem;
}

form {
    /*text-align: center;*/
    text-align: left;
}

fieldset {
    border: none;
    padding: 0;
}

label, legend, input {
    font-family: 'Bangers';
    font-size: 1.5rem;
}

label, legend {
    margin: 0 0 .5rem 0;
}
/* Basketballs for each zodiac sign */
#zoneContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    /*NEED TO ADD FADE IN/OUT FOR PLAYER REVEALS AND RESETS*/
}

.zodiac_balls {
    border-width: .33rem;
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    margin: 0 1.33rem 1.33rem 0;
}

.zodiac_balls:hover {
    cursor: pointer;
}

.zodiac_profiles {
    display: block;
    text-align: center;
}

/* TEMPORARY PIC-SIZING SOLUTION. WILL USE PICTURE ELEMENT LATER  */
.playerPic {
    width: 100%;
}

#playerRevealed {
    display: grid;
    grid-template: auto auto auto auto auto / 100%;
    justify-items: center;
}

.zodiac_balls:focus { outline: 0;}

/* Styling the individual basketballs based on player's team color*/
.leBron {
    background-color: var(--LAL_purple);
    color: white;
    border-color: var(--GSWLAL_gold);
}

.michael {
    background-color: var(--CHIHOUTOR_red);
    color: black;
    border-color: black;
}

.steph {
    background-color: var(--GSWLAL_gold);
    color: var(--GSW_slate);
    border-color: var(--GSW_blue);
}

.kyrie {
    background-color: white;
    color: var(--BOS_green);
    border-color: var(--BOS_green);
}

.tim {
    background-color: var(--SAS_silver);
    color: black;
    border-color: white;
}

.allen {
    background-color: black;
    color: var(--PHI_gold);
    border-color: var(--PHI_red);
}

.kawhi {
    background-color: white;
    color: black;
    border-color: var(--CHIHOUTOR_red);
}

.wilt {
    background-color: var(--PHI_blue);
    color: var(--PHI_red);
    border-color: white;
}

.james {
    background-color: var(--CHIHOUTOR_red);
    color: white;
    border-color: white;
}

.kevin {
    background-color: var(--OKC_darkblue);
    color: white;
    border-color: var(--GSWLAL_gold);
}

.russell {
    background-color: var(--OKC_lightblue);
    color: white;
    border-color: var(--OKC_orange);
}

.larry {
    background-color: var(--BOS_green);
    color: white;
    border-color: white;
}

/*Grid layout for desktop/tablet*/
@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100vh;
        grid-template-areas: 
        'leftside rightside';
    }

    #zodiacInfo {
        grid-area: leftside;
        justify-self: center;
    }

    #zodiacZone {
        grid-area: rightside;
        justify-content: center;
    }

    #zoneContent {
        justify-content: start;
    }
    
    #playerRevealed {
        flex-flow: row wrap;
    }

    .playerPic {
        width: 35rem;
        max-width: 1000px;
        border-top: 2px solid var(--main_light);
        border-bottom: 2px solid var(--main_light);
    }
}

.btn {
    font-size: 1.5rem;
    padding: .5rem;
    min-width: 10rem;
    cursor: pointer;
    font-family: 'Bangers';
    box-shadow: inset 0px -6px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--main_light);
    border: 1px solid var(--main_dark);
}